USE [master]
GO
/****** Object:  Database [EsperancaSocial]    Script Date: 13/01/2026 19:50:16 ******/
CREATE DATABASE [EsperancaSocial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EsperancaSocial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EsperancaSocial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EsperancaSocial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EsperancaSocial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsperancaSocial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsperancaSocial]
GO
/****** Object:  Table [dbo].[Agendamento]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agendamento](
	[id_agendamento] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_funcionario] [int] NOT NULL,
	[data_agendada] [datetime] NOT NULL,
	[tipo_servico] [varchar](150) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agendamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Atendimento]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atendimento](
	[id_atendimento] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_individuo] [int] NULL,
	[id_servico] [int] NOT NULL,
	[id_funcionario] [int] NOT NULL,
	[data_atendimento] [datetime] NULL,
	[tipo_atendimento] [varchar](100) NULL,
	[observacoes] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_atendimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doacao]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doacao](
	[IdDoacao] [int] IDENTITY(1,1) NOT NULL,
	[IdDoador] [int] NOT NULL,
	[TipoDoacao] [varchar](100) NULL,
	[descricao] [varchar](300) NULL,
	[quantidade] [int] NULL,
	[ValorEstimado] [decimal](10, 2) NULL,
	[DataDoacao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDoacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doador]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doador](
	[id_doador] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[tipo] [varchar](50) NULL,
	[telefone] [varchar](20) NULL,
	[email] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_doador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[id_familia] [int] IDENTITY(1,1) NOT NULL,
	[nome_responsavel] [varchar](150) NOT NULL,
	[telefone] [varchar](20) NULL,
	[endereco] [varchar](200) NULL,
	[bairro] [varchar](100) NULL,
	[numero_membros] [int] NULL,
	[renda_familiar] [decimal](10, 2) NULL,
	[data_cadastro] [date] NULL,
	[situacao] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[id_funcionario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[cargo] [varchar](100) NULL,
	[telefone] [varchar](20) NULL,
	[email] [varchar](150) NULL,
	[data_entrada] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Individuo]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Individuo](
	[id_individuo] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[data_nascimento] [date] NULL,
	[genero] [varchar](20) NULL,
	[escolaridade] [varchar](100) NULL,
	[parentesco] [varchar](50) NULL,
	[condicao_saude] [varchar](200) NULL,
	[observacoes] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_individuo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projeto]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projeto](
	[id_projeto] [int] IDENTITY(1,1) NOT NULL,
	[nome_projeto] [varchar](150) NOT NULL,
	[descricao] [varchar](300) NULL,
	[data_inicio] [date] NOT NULL,
	[data_fim] [date] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_projeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servico]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servico](
	[id_servico] [int] IDENTITY(1,1) NOT NULL,
	[nome_servico] [varchar](150) NOT NULL,
	[descricao] [varchar](300) NULL,
	[categoria] [varchar](100) NULL,
	[periodicidade] [varchar](50) NULL,
	[ativo] [bit] NULL,
	[id_projeto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 13/01/2026 19:50:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[senha_hash] [varchar](255) NOT NULL,
	[nivel_acesso] [varchar](50) NOT NULL,
	[id_funcionario] [int] NULL,
	[ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agendamento] ADD  DEFAULT ('Pendente') FOR [status]
GO
ALTER TABLE [dbo].[Atendimento] ADD  DEFAULT (getdate()) FOR [data_atendimento]
GO
ALTER TABLE [dbo].[Doacao] ADD  DEFAULT (getdate()) FOR [DataDoacao]
GO
ALTER TABLE [dbo].[Familia] ADD  DEFAULT (getdate()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[Familia] ADD  DEFAULT ('Ativa') FOR [situacao]
GO
ALTER TABLE [dbo].[Funcionario] ADD  DEFAULT (getdate()) FOR [data_entrada]
GO
ALTER TABLE [dbo].[Projeto] ADD  DEFAULT ('Ativo') FOR [status]
GO
ALTER TABLE [dbo].[Servico] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Agendamento_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familia] ([id_familia])
GO
ALTER TABLE [dbo].[Agendamento] CHECK CONSTRAINT [FK_Agendamento_Familia]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Agendamento_Funcionario] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[Agendamento] CHECK CONSTRAINT [FK_Agendamento_Funcionario]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familia] ([id_familia])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK_Atendimento_Familia]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_Funcionario] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK_Atendimento_Funcionario]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_Individuo] FOREIGN KEY([id_individuo])
REFERENCES [dbo].[Individuo] ([id_individuo])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK_Atendimento_Individuo]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_Servico] FOREIGN KEY([id_servico])
REFERENCES [dbo].[Servico] ([id_servico])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK_Atendimento_Servico]
GO
ALTER TABLE [dbo].[Doacao]  WITH CHECK ADD  CONSTRAINT [FK_Doacao_Doador] FOREIGN KEY([IdDoador])
REFERENCES [dbo].[Doador] ([id_doador])
GO
ALTER TABLE [dbo].[Doacao] CHECK CONSTRAINT [FK_Doacao_Doador]
GO
ALTER TABLE [dbo].[Individuo]  WITH CHECK ADD  CONSTRAINT [FK_Individuo_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familia] ([id_familia])
GO
ALTER TABLE [dbo].[Individuo] CHECK CONSTRAINT [FK_Individuo_Familia]
GO
ALTER TABLE [dbo].[Servico]  WITH CHECK ADD  CONSTRAINT [FK_Servico_Projeto] FOREIGN KEY([id_projeto])
REFERENCES [dbo].[Projeto] ([id_projeto])
GO
ALTER TABLE [dbo].[Servico] CHECK CONSTRAINT [FK_Servico_Projeto]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Funcionario] FOREIGN KEY([id_funcionario])
REFERENCES [dbo].[Funcionario] ([id_funcionario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Funcionario]
GO
USE [master]
GO
